.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 30vw;
  margin: 30px;
}

.videoSelect {
  width: 20vw;
  background: #fdfefe;
}
